<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087316359874-loajsc8u2d44v7ftlepa49odm38g2j34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087316359874-loajsc8u2d44v7ftlepa49odm38g2j34</string>
	<key>API_KEY</key>
	<string>AIzaSyDlvOUgOvbq4FW0QG2XgehWj2qdiwtZWP0</string>
	<key>GCM_SENDER_ID</key>
	<string>1087316359874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.baborges45.childseat.appChildSeat</string>
	<key>PROJECT_ID</key>
	<string>child-seat</string>
	<key>STORAGE_BUCKET</key>
	<string>child-seat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087316359874:ios:6f323106300749dfc8595b</string>
</dict>
</plist>